<!DOCTYPE html>
<title>Map
</title>
<head>
  <link rel="stylesheet" type="text/css" href="https://jutja.com/css/lucky.css">
    <link rel="stylesheet" type="text/css" href="https://jutja.com/css/new.css">
  <link rel="stylesheet" href="https://jutja.com/css/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="https://jutja.com/css/create_map.css">
    <link rel="stylesheet" href="https://jutja.com/css/pure.css">

          <link href="https://jutja.com/css/AdminLTE.css" rel="stylesheet" type="text/css" />
        <link href="https://jutja.com/css/app_udetails1.css" rel="stylesheet" type="text/css" />  

</head>
<body class="skin-blue">
  
   <% include menu %>
        <div class="wrapper row-offcanvas row-offcanvas-left">
         <aside class="left-side sidebar-offcanvas">                
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="https://www.gravatar.com/avatar/<%=user.gravatar%>" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <p>Hello, <%if(user.fname) { %><%=user.fname %><% } else { %><%=user.facebook.name %><% } %></p>

                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <!-- 
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                     -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu" id="mapall_sidebar">
                      <!--<li>
                            <a href="https://jutja.com/">
                                <i class="fa fa-home"></i> <span>Home</span> 
                            </a>
                        </li>-->
                         <li onclick="functions.cr_project()">
                            <a href="#">
                                <i class="fa fa-plus"></i> <span>Create New Map</span> 
                            </a>
                        </li>
                        <li onclick="functions.editingprojectdetails()">
                            <a href="#">
                                <i class="fa fa-edit"></i> <span>Edit Current Project</span> 
                            </a>
                        </li>
                        <li >
                            <a href="https://jutja.com/app">
                                <i class="fa fa-book"></i> <span>Go back to Projects</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">
                                <i class="fa fa-tasks"></i> <span>Maps(Current)</span> 
                            </a>
                        </li>
                         
                       <!--
                        <li>
                            <a href="#">
                                <i class="fa fa-th"></i> <span>Timeline</span> <small class="badge pull-right bg-green">new</small>
                            </a>
                        </li>
                        <li>
                            <a href="pages/calendar.html">
                                <i class="fa fa-calendar"></i> <span>Calendar</span>
                                <small class="badge pull-right bg-red">3</small>
                            </a>
                        </li>-->
                        <li >
                            <a href="https://jutja.com/myinfo">
                                <i class="fa fa-user"></i> <span>View Your Profile</span> 
                            </a>
                        </li>
                        <!--<li>
                            <a href="pages/mailbox.html">
                                <i class="fa fa-envelope"></i> <span>Mailbox</span>
                                <small class="badge pull-right bg-yellow">12</small>
                            </a>
                        </li>-->
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
            <aside class="right-side">                
                <!-- Content Header (Page header) -->
                <section class="content-header">
                  
                    <h1 style="text-align:left" id="project_name_view">
                        <%= project.name %> <br>
                          <small id="temp2">
                           
                          </small>
                    </h1>
                    <ol class="breadcrumb">
                         <li><a href="https://jutja.com"><i class="fa fa-home"></i>Home</a></li>
                        <li><a href="https://jutja.com/app"><i class="fa"></i>Projects</a></li>
                        <li ><a href="#"><i class="fa"></i><%= project.name %></a></li>
                        <li class="active">Maps</li>
                    </ol>
                    <form id="create_map"  style="display:none;">
                      <span class="button b-close">
                      <span>X</span></span>
                        <h1 id="h1">Building Your Map </h1>
                        <h2><span>Enter details for your map !!!</span></h2>
                        <label>
                        <span>Map Name : </span>
                        <input id="map_name" type="text" required  name="name" placeholder=" Enter the name of the map "/></label>
                        
                        <label>
                          <span>Title of note :</span><input id="cr_name" required type="text" name="name" placeholder="Enter title for your first note"/></label>
                        <label>
                        <span>Message :</span>
                        <textarea id="cr_message" name="info" placeholder="Enter details about your note"></textarea></label>
                        <label style="  cursor:pointer;">
                          <span>Due Date :</span>
                          <div class="input-group date"  >
                                  <input type="text" required class="form-control" id="dateCreate"><span class="input-group-addon" id="bord"></span>
                              </div>
                          </label>
                          <label>
                            <span>Status :</span>
                            <select class="dropdown-status" style="width: 150px;height: 24px; margin-bottom: 16px; margin-right: 6px;margin-top: 4px;" name="status" id="create_status">
                            <option value="Incomplete" >Incomplete</option>
                            <option value="Completed">Completed</option>
                            <option value="Ongoing">Ongoing</option>
                            <option value="Not Started">Not started</option>
                            </select>
                        
                          </label>
                          <br>
                          <div id="old_name_edit_2"  data-pname='<%=project.name%>'>
                          <tr>
                          <td>
                            <button type="submit" style="width: 100px;margin-left: 75px;" id="submit2">Submit</button></td>
                          <td>
                            <button style="width: 100px;margin-left: 50px;" type="reset" id="reset">Reset</button></td>
                          </tr>
                          </div>
                        </form> 

                      <div id="map_viewform" style="display:none"  >
                      <span class="button b-close">
                      <span>X</span></span>
                      <form id="projedit">
                          <h1 id="h1">Edit your Project </h1> 
                          <div>
                              <label for="name"> New name of Project:</label>
                              <input type="text" required  id="name_edit" name="name" value='<%=project.name%>' style="margin-bottom:16px;"><br>
                              <input type=hidden id="old_id_edit" name= "old_id" value= '<%= project._id%>'>
                              <input type=hidden id="old_name_edit" name= "old_name" value= '<%= project.name%>'>
                              <label for="members">Enter the email-id of your team members:     </label>

                                <% var str=""; for(var i=0; i<((project.users.editor.length)-1); i++) { 
                                  if((project.users.editor[i])==" ")
                                    {
                                      continue;
                                    }
                                  str= str  + " , " + String(project.users.editor[i]);  } %>
                          <div>
                          <input type="email" id="email_edit" value='<%=str %>' data-role="tagsinput" placeholder="Add Email" />
                          </div>
                            <div>
                              <tr>
                              <td>
                                <button style=" width: 150px;"  type="submit" onclick="functions.editproject('/project/edit')" id="submit2">Submit</button></td>
                              <td>
                                <button style=" width: 150px;" onclick="submitForm('/project/delete')" type="button" id="delete" >Delete Project</button></td>
                              </tr>
                            </div>
                        </form>
                      </div>  

                </section>

                <!-- Main content -->
             <section class="content">
                <div id="tile" class="pure-g">
                   
                    <% var k = Object.keys(project.maps); for(var i=0; i<k.length; i++) {%>
                    <div class="pure-u-1-4 " style="margin-top: 10px; margin-left: 10px;">
                    <a class="metro-tile " style="text-align:center;cursor: pointer; width: 98%; height: 110px; display: block; background-color: deepSkyBlue; color: #fff; " href='https://jutja.com/project/maps/view?name=<%=k[i]%>&pid=<%= project._id%>&pname=<%=project.name%>'> <%= k[i] %> </a></div>
                    <% } %>
                </div>
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://jutja.com/js/jquery.bpopup.min.js"></script>
  <script type="text/javascript" src="https://jutja.com/js/functions.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script src="https://jutja.com/js/tileJs.min.js" type="text/javascript"></script>
  <script src="https://jutja.com/js/bootstrap-tagsinput.js"></script>
    <script src="https://jutja.com/js/app.js" type="text/javascript"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript">
    function submitForm(action)
    {
        document.getElementById('projedit').action = action;
        document.getElementById('projedit').submit();
    }
    $( document ).ready(function() {
        var today = new Date();
        today.setDate(today.getDate() );
        $.fn.datepicker.defaults.format = "dd/mm/yyyy";
        $(".input-group.date").datepicker("setDate", today);
        $(".input-group.date").datepicker('update');
    });
  </script>
  <script type="text/javascript">
   // var str= String(<%=user.madeon%>);
    var a = new Date('<%=user.madeon%>');
    var final1= a.toUTCString().split(/GMT.*/);
    document.getElementById("temp1").innerHTML = "Member Since <br> " + final1[0];
    var b= new Date('<%= project.madeon %>');
    var f1=b.toUTCString();
    var f2=f1.split(/GMT.*/);
    document.getElementById("temp2").innerHTML = "Project Created On : " + f2[0];
 
</script>
</body>